# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
Note/javafinalproject-eaa83-firebase-adminsdk-fb4es-75ae0e7d75.json
